<div class="chat-left-body">
    <div class="profilebar">
        <img id="K_avatar" class="profile-pic img-fluid" src="assets/images/men.svg" alt="profile-pic">  
        <div class="profile-edit">
            <i class="feather icon-camera upload-button"></i>
            <input class="profile-upload" type="file" accept="image/*"/>
        </div>  
        <h5 id="K_username">Will Patinson1</h5>
        <p class="mb-0">Florida, USA</p>                                            
    </div> 
    <div class="profile-detail">
        <ul class="list-unstyled mb-0">
            <li class="media">
                <i class="feather icon-mail align-self-center"></i>
                <div class="media-body">
                    <p>Email ID</p>
                    <div class="input-group">
                        <input id="K_email" type="email" class="form-control" value="demo@example.com" aria-describedby="button-addon-group-emailid">
                        <div class="input-group-append">
                            <button class="btn btn-link" type="button" id="button-addon-group-emailid">Update</button>
                        </div>
                    </div>
                </div>
            </li> 
            <li class="media">
                <i class="feather icon-lock align-self-center"></i>
                <div class="media-body">
                    <p>Password</p>
                    <div class="input-group">
                        <input type="password" class="form-control" value="********" aria-label="********" aria-describedby="button-addon-group-password">
                        <div class="input-group-append">
                            <button class="btn btn-link" type="button" id="button-addon-group-password">Update</button>
                        </div>
                    </div>
                </div>
            </li>                                   
        </ul>
    </div>                                            
</div>